html, body {
    margin: 0;
    height: 100%;
    font-family: "DM Sans", "Arial", "Helvetica";
    text-transform: uppercase;
}

.cat {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imageContainer {
    flex: 40%;
    display: inline-block;
    position: relative;
}

.imageCredit {
    position: absolute;
    bottom: 0.5%;
    color: white; 
    left: 30%;
    right: 30%;
    text-align: center;
    font-size: 12px;
}

.logoTitle {
    position: absolute; 
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(128, 128, 128, .4);
    height: 180px;
    width: 100%
}

.odin {
    width: 100px;;
    position: relative;
}

.mainTitle {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 2rem;
    opacity: 1
}

#links {
    color: white;
}

.form {
    background-color: #ecf1f2;
    flex: 60%;

}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.header {
    padding-top: 60px;
    padding-bottom: 20px;
}


.middle {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.allForms{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: left;
    gap: 20px;
    
}

.header, .middle, .bottom {
    padding-left: 30px;
    padding-right: 30px;
}

.bottom {
    padding-top: 40px;
    padding-bottom: 20px;
}

.statement {
    margin-top: 0;
}

.logLink {
    color: black;
}

input {
    border: 1px solid #aaafad;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    outline: none;
}

input:focus {
    border: 1px solid #2082C5; 
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

#createBTN {
    background-color: #aaafad; 
    border: none;
    border-radius: 7px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    color: white;
    padding: 10px 20px;
    font: inherit; 
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
}

#createBTN:hover {
    background-color: #858782;
}

#haveAccount {
    padding-top: 10px;
}

@media (max-width: 786px) {
    .main {
        flex-direction: column;
    };
    .cat {
        /* height: 180px; */
    }
    .imageContainer {
        height: 180px;
    };
    .form {
    }
    .logoTitle{
        position: absolute;
        top: 0%
    }
};




/* 
1) create red border when selected, box shadow as well 
2) valid email notice
3) 10 digit number notice
4) password 1 capital, 1 number, at leat 8 char
5) password must match 
6) create account button 
7) resize for mobile

**why doesnt bold work?*/