html, body {
    margin: 0;
    height: 100%;
}

.cat {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imageContainer {
    flex: 40%;
    display: inline-block;
    position: relative;
}

.imageCredit {
    position: absolute;
    bottom: 0.5%;
    color: white; 
    left: 30%;
    right: 30%;
    text-align: center;
    font-size: 12px;
}

.logoTitle {
    position: absolute; 
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(128, 128, 128, .4);
    height: 180px;
    width: 100%
}

.odin {
    width: 100px;;
    position: relative;
}

.mainTitle {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 2rem;
    opacity: 1
}

#links {
    color: white;
}

.form {
    background-color: #ecf1f2;
    flex: 60%;

}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.middle {
    background-color: white;
    top: 40%
}

.allForms{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: left;
}

.header, .middle, .bottom {
    padding-left: 30px;
    padding-right: 30px;
}

.bottom, .middle {
    padding-top: 20px;
    padding-bottom: 20px;
}

.statement {
    margin-top: 0;
}


@media (max-width: 786px) {
    .main {
        flex-direction: column;
    };
    .cat {
        /* height: 180px; */
    }
    .imageContainer {
        height: 180px;
    };
    .form {
    }
    .logoTitle{
        position: absolute;
        top: 0%
    }
};



